<% include ../partials/header %>

	<div id="outerBox">
		
		<div id="squareBox">
			<h1><%= score.name %> <br> Score: <%= score.highScore %></h1> 
			




		</div>



	</div>
<% include ../partials/footer %>